<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
        <th>Index</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Szczegoly</th>

        </thead>

        <tbody>
        <tr th:each="car, iterStat : ${list}" >
            <td th:text="${iterStat.index}"></td>
            <td th:text="${car.marka}"></td>
            <td th:text="${car.model}"></td>
            <td><a th:href="@{/car/single/} + ${iterStat.index}">Link</a></td>


        </tr>

        <a href="formAddTemplate.html" th:href="@{/car/form}">Dodaj</a>

        </tbody>
    </table>

</body>
</html>